<p class="text-success"><%= notice %></p>

<div class="card">
  <div class="card-body">
    <%= render @contact %>
  </div>
</div>

<div class="mt-4">
  <%= link_to "Edit this contact", edit_contact_path(@contact), class: "btn btn-primary mr-2" %>
  <%= link_to "Back to contacts", contacts_path, class: "btn btn-secondary mr-2" %>
  <%= button_to "Destroy this contact", @contact, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger", id: "destroy-contact-btn" %>
</div>
