<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to 'Contact List', root_url, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Bem-vindo <%= current_user.name.capitalize %>!
            </a>
            <ul class="dropdown-menu" aria-labelledby="userDropdown">
              <li><%= link_to 'Minha Página', current_user, class: 'dropdown-item' %></li>
              <li><%= link_to 'Editar', '#', class: 'dropdown-item' %></li>
              <li><%= link_to 'Sair', sair_path, method: :delete, class: 'dropdown-item', data: { confirm: 'Tem certeza que deseja sair?' } %></li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Nova Conta', new_user_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Entrar', entrar_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>